body{
    text-align: center;
    background-color: #2F4F4F;
    margin-left: auto;
    margin-right: auto;
}
form{
    display:flex;
    flex-direction: column;
    gap:10px;
    
}
button{
    background-color: #2F4F4F;
}
input,textarea,select{
    background-color: #2F4F4F;
    color: black;
}
header_l{
    width:200px;
    text-align:center;
}
