body{
    text-align: left;
    background-color: #7B68EE;
}
form{
    display:flex;
    flex-direction: column;
    gap:10px;
}
button{
    background-color: #7B68EE;
}
input,textarea,select{
    background-color: #7B68EE;
    color: black;
}
