body{
    text-align: left;
    background-color: #2F4F4F;
}
.form{
    display:flex;
    flex-direction: column;
    gap:10px;
    text-align:center;
}
button{
    background-color: #2F4F4F;
}
input,textarea,select{
    background-color: #2F4F4F;
    color: black;
}
