body{
    text-align: center;
    background-color: #2F4F4F;
    width:150px;
    height: 200px;
}
form{
    display:flex;
    flex-direction: column;
    gap:10px;
    
}
button{
    background-color: #2F4F4F;
}
input,textarea,select{
    background-color: #2F4F4F;
    color: black;
}
